.agenda-item
{
width: 320px;
min-height:410px;
margin-top: 20px;
margin-right: 50px;
margin-bottom: 20px;
float: left;
}

.agenda-item h3
{
color: #16296d;
font-family: Arial;
font-size: 15pt;
border-bottom: 5px solid #16296d;
padding-bottom: 6px;
margin-bottom: 10px;
display:block;
}

#agenda-img br
{
float: left;
}

#agenda-img
{
font-weight: bold;
font-size: 10pt;
position: relative;
display:block;
padding-bottom: 5px;
margin-bottom:10px;
border-bottom: 1px dashed black;
width: 320px;
}



#agenda-social
{
position:relative;
bottom:0;
margin-top: 20px;
padding-top: 10px;
border-top: 1px dashed grey;
}
